<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book Form</title>
</head>
<body>

<h1 th:text="${book != null} ? 'Edit Book' : 'Add New Book'"></h1>


<!-- EDIT FORM -->
<form th:if="${book != null}"
      th:action="@{'/books/edit/' + ${book.id}}"
      method="post">

    <label>Title:</label>
    <input type="text" name="title" th:value="${book.title}" required/> <br/>

    <label>Genre:</label>
    <input type="text" name="genre" th:value="${book.genre}" required/> <br/>

    <label>Average Rating:</label>
    <input type="number" name="averageRating" step="0.1" th:value="${book.averageRating}" required/> <br/>

    <label>Author:</label>
    <select name="authorId">
        <option th:each="a : ${authors}"
                th:value="${a.id}"
                th:text="${a.name + ' ' + a.surname}"
                th:selected="${book.author.id == a.id}">
        </option>
    </select> <br/><br/>

    <button type="submit">Save</button>
</form>



<!-- ADD FORM -->
<form th:if="${book == null}"
      th:action="@{'/books/add'}"
      method="post">

    <label>Title:</label>
    <input type="text" name="title" required/> <br/>

    <label>Genre:</label>
    <input type="text" name="genre" required/> <br/>

    <label>Average Rating:</label>
    <input type="number" name="averageRating" step="0.1" required/> <br/>

    <label>Author:</label>
    <select name="authorId">
        <option th:each="a : ${authors}"
                th:value="${a.id}"
                th:text="${a.name + ' ' + a.surname}">
        </option>
    </select> <br/><br/>

    <button type="submit">Add</button>
</form>

<br/>
<a href="/books">Back to list</a>

</body>
</html>
