<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
</head>
<body>

<h1>Books</h1>

<a href="/books/book-form">
    <button>Add New Book</button>
</a>

<br/><br/>

<table border="1" width="100%">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>

    <tr th:each="b : ${books}">
        <td th:text="${b.title}"></td>
        <td th:text="${b.genre}"></td>
        <td th:text="${b.averageRating}"></td>
        <td th:text="${b.author.name + ' ' + b.author.surname}"></td>

        <td>
            <a th:href="@{'/books/book-form/' + ${b.id}}">
                <button>Edit</button>
            </a>

            <form th:action="@{'/books/delete/' + ${b.id}}"
                  method="post"
                  style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<br/><hr/><br/>

<h2>Reserve a book</h2>

<form action="/reservations" method="POST">

    <label>Select book:</label><br/>
    <div th:each="b : ${books}">
        <input type="radio" name="bookTitle" th:value="${b.title}" required/>
        <span th:text="${b.title + ' (' + b.author.name + ' ' + b.author.surname + ')' }"></span>
        <br/>
    </div>

    <br/>

    <label>Your Name:</label>
    <input type="text" name="readerName" required/><br/>

    <label>Your Address:</label>
    <input type="text" name="readerAddress" required/><br/>

    <label>Number of Copies:</label>
    <input type="number" min="1" max="10" name="numCopies" required/><br/><br/>

    <button type="submit">Reserve</button>
</form>

</body>
</html>
